In [9]:
import sys

In [11]:
sys.path.append('C:\\Users\\gregw\\Documents\\personal_projects\\nba_api')

In [12]:
from helper_functions.get_team_info import get_team_info

In [15]:
team_info = get_team_info()

In [16]:
team_info.head()

,abbreviation,city,full_name,id,nickname,state,year_founded
0,ATL,Atlanta,Atlanta Hawks,1610612737,Hawks,Atlanta,1949
1,BOS,Boston,Boston Celtics,1610612738,Celtics,Massachusetts,1946
2,CLE,Cleveland,Cleveland Cavaliers,1610612739,Cavaliers,Ohio,1970
3,NOP,New Orleans,New Orleans Pelicans,1610612740,Pelicans,Louisiana,2002
4,CHI,Chicago,Chicago Bulls,1610612741,Bulls,Illinois,1966

In [29]:
from helper_functions.get_game_ids import get_game_ids

SyntaxError: invalid syntax (get_game_ids.py, line 24)

In [44]:
if(team_ids is None):
    
    team_info = get_team_info()
    team_ids = team_info['id']

    for team in team_ids:
        gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team,
                                season_nullable=Season.default,
                                season_type_nullable=SeasonType.regular)

        game_info_df = gamefinder.get_normalized_dict()
        game_id_list = pd.DataFrame(games_dict['LeagueGameFinderResults'])['GAME_ID']
        game_id_dict[team] = game_id_list

    # extract unique dictionary values
    l = list(game_id_dict.values())
    return(list(set([item for sublist in l for item in sublist]))
           
else:
           
    team_info = get_team_info(team_abb)
    team_ids = team_info[team_info['abbreviation'].isin(team_abb)]['id']

    for team in team_ids:
        gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=team,
                                season_nullable=Season.default,
                                season_type_nullable=SeasonType.regular)
        game_info_df = gamefinder.get_normalized_dict()
        game_id_list = pd.DataFrame(games_dict['LeagueGameFinderResults'])['GAME_ID']
        game_id_dict(team) = game_id_list

    # extract unique dictionary values
    l = list(game_id_dict.values())
    return(list(set([item for sublist in l for item in sublist]))

SyntaxError: invalid syntax (<ipython-input-44-98399db615be>, line 19)